.white-square {
    border: solid black 0.05rem;
    background-color: white;
    height: 5rem;
    width: 5rem;
}

.blue-square {
    border: solid black 0.05rem;
    background-color: blue;
    height: 5rem;
    width: 5rem;
}

.red-square {
    border: solid black 0.05rem;
    background-color: red;
    height: 5rem;
    width: 5rem;
}