.white {
    border: solid black 0.05rem;
    background-color: white;
    height: 5rem;
    width: 5rem;
}

.blue {
    border: solid black 0.05rem;
    background-color: blue;
    height: 5rem;
    width: 5rem;
}

.red {
    border: solid black 0.05rem;
    background-color: red;
    height: 5rem;
    width: 5rem;
}